@font-face
{
  font-family: helveticaBold;
  src: url(HelveticaNeueBd.ttf);
}
@font-face
{
  font-family: helveticaMed;
  src: url(HelveticaNeueMed.ttf);
}
@font-face
{
  font-family: helveticaNeue;
  src: url(HelveticaNeueLt.ttf);
}
@font-face
{
  font-family: helveticaNeueThin;
  src: url(HelveticaNeueThin.ttf);
}

body
{
    overflow-x: hidden;
}
section
{
    overflow-x: hidden;
}

nav.bg-dark
{
    background-color: #1a1a1a !important;
    opacity: 95%;
}
.navbar-brand
{
    font-family: helveticaNeueThin;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow: hidden;
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-height: 80vh;
    max-width: 80vw;
    overflow: hidden;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

h1
{
    font-family: helveticaMed;
}
h2
{
    font-family: helveticaMed;
}
h1.bold
{
    font-family: helveticaBold;
}
p.bold
{
    font-family: helveticaMed;
}
h1 a
{
    font-family: helveticaBold;
    color: white
}
h1 a:hover
{
    font-family: helveticaBold;
    color: white;
    font-style: italic;
    text-decoration: none;
}
h1.light
{
    font-family: helveticaNeueThin;
}


/* The animation code */
@keyframes animation {
    from {background-color: rgba(0,0,0,0.1);}
    to {background-color: rgba(0,0,0,0.3);}
}
/* The animation code */
@keyframes textAnimation {
    from {opacity: 0.0;}
    to {opacity: 1;}
}
.darken
{
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
}
.primaryDarken
{
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px)
{
    .primaryDarken
    {
        background-color: rgba(0,0,0,0.3);
        width: 100%;
        height: 100%;
        animation-name: animation;
        animation-duration: 5s;
    }
}
.primaryBanner
{
  background-image: url(mask-1.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.banner-content
{
    padding-top: 30vh;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.animateText
{
    animation-name: textAnimation;
    animation-duration: 5s;
    opacity: 1;
}
.engineeringBG
{
  background-image: url(softwareEngineeringStock2.jpg); 
}
.photoBG
{
  background-image: url(abstract1.jpg); 
}
.foodBG
{
  background-image: url(restaurantStock2.jpeg); 
}
.sectionHeader
{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
}
.sectionHeaderContent
{
    padding-top: 250px
}
.white
{
    color: white;
}
.alignBottom
{
    padding-top: 40vh;
}
@media screen and (min-aspect-ratio: 16/9)
{
    .alignBottom
    {
        padding-top: 35vh;
    }
}
.aboutImage
{
    width: 90%;
    border-radius: 20px;
    box-shadow: 
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 1440px)
{
    h1.header
    {
        font-size: 5rem;
    }
    .subHeader
    {
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 1024px)
{
    h1.name
    {
        font-size: 2rem;
    }
    h1.header
    {
        font-size: 2.4rem;
    }
    .subHeader
    {
        font-size: 2.0rem;
    }
    .sectionHeader
    {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 200px;
    }
    .sectionHeaderContent
    {
        padding-top: 100px
    }
}
@media screen and (max-width: 768px)
{
    h1.name
    {
        font-size: 1.6rem;
    }
    h1.header
    {
        font-size: 2.0rem;
    }
    .subHeader
    {
        font-size: 1.6rem;
    }
    .primaryBanner
    {
    background-image: url(mask-1-mobile.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    }
    .aboutImage
    {
       margin-bottom: 40px;
       margin-left: 5%;
    }
    .justifyMobile
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 87.5%
    }
    .halfJustify
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 95%
    }
}
.sectionTop
{
    padding-top: 120px;
}
.sectionBottom
{
    padding-bottom: 120px;
}
.noMargin
{
    margin:0 !important;
}
.noMarginVert
{
    margin-top:0 !important;
    margin-bottom:0 !important;
}
.noPadding
{
    padding:0;
}
.neuCard
{
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 
      12px 12px 24px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 20px 0 rgba(255, 255, 255, 0.3);
}
.cardContent
{
    padding: 100px;
}
.onlyMobile
{
    display: none;
}
.contactPadding
{
    padding-top: 100px;
    padding-bottom: 120px;
}
.promoBanner
{
    padding-top: 0;
    padding-bottom: 0;
}
@media screen and (max-width: 767px)
{
    .sectionTop
    {
        padding-top: 80px;
    }
    .sectionBottom
    {
        padding-bottom: 80px;
    }
    .mobilePadding
    {
        padding-top: 40px;
    }
    .noMobile
    {
        display: none;
    }
    .onlyMobile
    {
        display: block;
    }
    .cardContent
    {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
        display: block;
        width: 87.5%;
        margin-right: auto;
        margin-left: auto;
    }
    .neuCard
    {
        display: block;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #f9f9f9;
        border-radius: 0;
        box-shadow: none
    }
    .contactPadding
    {
        padding-top: 0;
        padding-bottom: 0;
    }
    .promoBanner
    {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}
.phone
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
.mac
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.photo
{
    width: 100%;
    border-radius: 5px;
    box-shadow: 
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(255, 255, 255, 0.3); 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.photo :hover
{
    box-shadow: none;
}
img.photo:hover
{
    box-shadow: none;
    opacity: 80%;
}
#video
{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#bigIcon
{
    text-align: center;
    font-size: 250px;
    color:black;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
@media screen and (min-width: 800px)
{
    .centerVertically
    {
    margin: 0;
    position: absolute;
    top: 30%;
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
    }
}
.textBlock
{
    width: 640px;
}
@media screen and (max-width: 768px)
{
    .textBlock
    {
        width: 100%
    }
    #bigIcon
    {
        text-align: center;
        font-size: 200px;
        color:black;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 40px;
    }
}

input[type="text"]
{
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    width: 100%;
    border-radius: 20px;
    padding: 8px;
    padding-left: 20px;
}
input[type="text"]:focus
{
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
}
textarea
{
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
}
textarea:focus
{
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: none;
    outline: none;
}
button[type="submit"]
{
    border:none;
    padding: 8px;
    color: white;
    background-color: black;
    border-radius: 20px;
    font-size: 1rem;
    font-family: helveticaMed;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
@media screen and (max-width: 768px)
{
    button[type="submit"]
    {
        width: 90%;
    }
}
.footer
{
    background-color: #1a1a1a;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
}
h6
{
    font-family: helveticaMed;
}
h6 a
{
    color: inherit;
}
h6 a:hover
{
    color: inherit;
}