@font-face {
    font-family: AHBold;
    src: url(AtkinsonHyperlegible-Bold.ttf);
}

@font-face {
    font-family: AHRegular;
    src: url(AtkinsonHyperlegible-Regular.ttf);
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translate(-50%, -30px);
		-ms-transform:     translate(-50%, -30px);
		transform:         translate(-50%, -30px)
	}
	40% {
		-webkit-transform: translate(-50%, -60px);
		-ms-transform:     translateY(-50%, -60px);
		transform:         translateY(-50%, -60px)
	}
	60% {
		-webkit-transform: translateY(-50%, -60px);
		-ms-transform:     translateY(-50%, -60px);
		transform:         translateY(-50%, -60px)
	}
}

body {
    overflow-x : hidden;
    background-color: #121212;
    font-family: AHRegular;
    color: white;
}

section {
    overflow-x: hidden;
    margin-bottom: 40px;
}

section#landing {
    margin-bottom: 0;
}

h1 {
    font-size: 200px;
    font-family: AHBold;
}

h1.hero {
    padding-top: 128px;
    line-height: 72px;
}

h1 strong {
    font-size: 200px;
    font-family: AHBold;
    color: #4D84FF
}

h1 strong.weak {
    font-size: 72px;
    color:white;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 100px;
    }
    h1.hero {
        line-height: 28px;
    }
    h1 strong.weak {
        font-size: 48px;
    }
    div.heroText {
        max-width: 87.5%;
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
}

h2 {
    font-size: 48px;
    font-family: AHBold;
}

h2 strong {
    font-size: 128px;
    font-family: AHBold;
    color: #4D84FF;
    line-height: 30px;
}

@media screen and (max-width: 800px) {
    h2 {
        font-size: 36px;
    }
    h2 strong {
        font-size: 100px;
    }
}

h3 {
    font-size:24px;
    font-family: AHBold;
    padding-bottom: 8px;
    box-shadow: 0 12px 0 -10px #4D84FF;
    width: max-content;
}

h4 {
    font-size: 18px;
}

@media screen and (max-width: 800px) {
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px
    }
}

a {
    font-size: 24px;
    text-transform: uppercase;
    color: whitesmoke;
    text-decoration: none;
    padding-bottom: 8px;
    box-shadow: 0 20px 0 -16px #4D84FF;
}

@media screen and (max-width: 800px) {
    a {
        font-size: 20px;
        padding-bottom: 6px;
        box-shadow: 0 14px 0 -10px #4D84FF;
    }
}

a:hover {
    color:white;
    font-style: italic;
    box-shadow: 0 24px 0 -17px #4D84FF;
}

a.navbar-brand {
    font-family: AHBold;
    text-transform: none;
    box-shadow: none;
    padding-left: 10vw;
}

a.navbar-brand strong {
    font-size: 48px;
    color:#4D84FF;
    line-height: 20px;
}

a:hover.navbar-brand {
    color:lightgray;
    font-style: normal;
}

a.scroll {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -30px);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    box-shadow: none;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce;
    animation-timing-function: ease-in-out;
    z-index:10;
}

a:hover.scroll {
    box-shadow: 0 24px 0 -20px #4D84FF;
}

p {
    font-size:16px;
}

p a {
    font-size: 16px;
    box-shadow: none;
    padding:none;
    text-transform: none;
    color: #4D84FF;
}

p.muted {
    color: #9e9e9e
}

p.footer a {
    color: #FAFAFAFA
}

img.inlineImage {
    width: 100%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.landingBG {
    background-image: url(mask-1.jpg); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 800px) {
    .landingBG {
        background-image: url(mask-1-mobile.jpg);
    }
}

.landingContent {
    width: 100%;
    height: 100vh;
    padding-top: 20vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.darken {
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
}

.scrollContainer {
    height: 35vh;
}

.textBlock {
    padding-top: 80px;
    max-width:700px;
    padding-bottom: 30px;
}

.skillCard {
    background-color: #212121;
    border-radius: 20px;
    width:100%;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.exposeCard {
    border-radius: 20px;
    width: 100%;
    height: 500px;
    overflow:hidden;
    background-image: linear-gradient(#212121, #4D84FF 200%);
}

.exposeCard.open {
    height: 240px;
}
.exposeCard.open p {
    opacity: 0;
}
.exposeCard.open a {
    opacity: 0;
}

.gradientOverlay {
    padding: 5vw;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #0B0014, rgba(77, 132, 255, 0.25));
}

@media screen and (max-width: 800px) {
    .exposeCard {
        height: max-content;
    }
    .exposeCard .gradientOverlay {
        padding-top: 40px;
        padding-bottom: 200px;
    }
    .exposeCard.open {
        padding-top: 80px;
        padding-bottom: 80px;
        height: auto;
    }
}

.graphics {
    background-image: url(GP1.5-22.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
}

.exposeCardContent {
    width:100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5vw;
}

.exposeCardApp {
    background-image: url(GPHome.png);
    background-position-y: 300px;
}

.exposeCardWeb {
    background-image: url(gpSiteT.png);
    background-position-y: 340px;
    background-position-x: center;
    background-size: 120%;
}

.tall {
    height: 800px
}

.projectCardLarge {
    padding:5vw;
    width: 100%;
    border-radius: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    overflow:hidden;
}

.realBG {
    background-image: url(realAppT.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 325px;
}

.codeBG {
    background-image: url(cs50code.png);
    padding: 0;
}

.vrBG {
    background-image: url(SeeingIsBelievingHero.png);
}

.gradientBluePurple {
    background-image: linear-gradient(#4D0088, #4D84FF 150%);
    padding:0;
}

.gradientGreyBlue {
    overflow:hidden;
    background-image: linear-gradient(#212121, #4D84FF 200%);
}

.gradientGreyPurple {
    background-image: linear-gradient(#212121, #0B0014);
}

.overlayCard {
    background-color: #212121;
    border-radius: 20px;
    width: 100%;
    padding: 40px;
    box-shadow: 
      12px 12px 24px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 20px 0 rgba(0, 0, 0, 0.3);
}

.overlayCard.secondary {
    box-shadow: none;
    border: 2px solid whitesmoke;
    background: none;
}

.lakesideBG {
    padding:5vw;
    background-image: url(lakesideSiteT.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 10vh;
    background-position-x: 33vw;
}

.restaurantBG {
    background-image: url(restaurantStock2.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding : 0;
}

.contentDarken {
    padding: 5vw;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(foodWasteApp2.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 40vw;
}

.aboutImage
{
    display: block;
    margin: auto;
    width: 90%;
    border-radius: 20px;
    box-shadow: 
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(0, 0, 0, 0.3);
}

.break {
    margin-top: 200px;
}

.contentCard {
    background-color: #212121;
    border-radius: 20px;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .textBlock {
        width: 87.5%;
        display: block;
        margin: auto;
    }
    .gradientOverlay {
        padding: 30px;
    }
    .exposeCardContent {
        padding: 30px;
        padding-bottom: 300px;
    }
    .exposeCardApp {
        background-position-y: 200px;
        background-size: contain;
    }
    .exposeCardWeb {
        background-position-y: 300px;
        background-size: contain;
    }
    .tall {
        height: auto;
    }

    .gradientBluePurple {
        background-image: linear-gradient(#4D0088, #4D84FF 150%);
        padding:0;
        min-height: 100%;
    }

    .gradientGreyBlue {
        overflow:hidden;
        background-image: linear-gradient(#212121, #4D84FF 200%);
        background-size: max;
    }

    .gradientGreyPurple {
        background-image: linear-gradient(#212121, #0B0014);
    }

    .projectCardLarge {
        padding: 0;
        background-size: cover;
        background-repeat: no-repeat;
        height: max-content;
        min-height: 100%;
        width: 95%;
        display: block;
        margin: auto;
    }

    .realBG {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height:200px;
    }

    .vrBG {
        background-image: url(SeeingIsBelievingHero.png);
        background-position-y: -300px;
    }

    .overlayCard {
        margin-top: 300px;
        background-color: #212121;
        border-radius: 0;
        width: 100%;
        padding: 6vw;
        box-shadow: none
    }

    .overlayCard.secondary {
        box-shadow: none;
        border: none;
        background: none;
    }

    .lakesideBG {
        padding:0;
        background-image: url(lakesideSiteT.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-position-y:100px;
    }

    .restaurantBG {
        background-image: url(restaurantStock2.jpeg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding : 0;
    }

    .contentDarken {
        padding: 0;
        background-color: rgba(0, 0, 0, 0.5);
        background-image: url(foodWasteApp2.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
    }

    .aboutImage
    {
        width: 90%;
        border-radius: 20px;
        box-shadow: 
        12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        -8px -8px 12px 0 rgba(0, 0, 0, 0.3);
    }

    .break {
        margin-top: 100px;
    }
    .aboutText {
        width: 87.5%;
        display: block;
        margin: auto;
    }

}


.exposeGraphicsContent {
    display: block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    height:0;
    opacity:0;
    overflow:hidden;
}

.closeButton {
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.exposeAppContent {
    width: 100%;
    padding: 0;
    background-color: #212121;
    border-radius: 20px;
    height: 0;
    opacity: 0;
}

.exposeWebContent {
    width: 100%;
    padding: 0;
    background-color: #212121;
    border-radius: 20px;
    height: 0;
    opacity: 0;
}

@media screen and (max-width: 800px) {
    .exposeGraphicsContent {
        width : 87.5%;
        display: block;
        margin:auto;
    }
}

.noPadding {
    padding: 0;
}

.photo
{
    width: 100%;
    border-radius: 5px;
    box-shadow: 
      12px 12px 16px 0 rgba(0, 0, 0, 0.25),
      -8px -8px 12px 0 rgba(0, 0, 0, 0.3); 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow: hidden;
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-height: 80vh;
    max-width: 80vw;
    overflow: hidden;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }


input[type="text"]
{
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    width: 100%;
    border-radius: 20px;
    padding: 8px;
    padding-left: 20px;
    color:whitesmoke;
}
input[type="text"]:focus
{
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
    border: none;
    outline: none;
}
textarea
{
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    color:whitesmoke;
}
textarea:focus
{
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: none;
    outline: none;
}
button[type="submit"]
{
    border:none;
    padding: 8px;
    color: white;
    background-color: black;
    border-radius: 20px;
    font-size: 1rem;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.contactCard {
    background-color: #212121;
    border-radius: 20px;
    padding: 100px;
}

@media screen and (max-width: 800px)
{
    button[type="submit"]
    {
        width: 90%;
    }

    .contactCard {
        background-color: #212121;
        border-radius: 20px;
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        width: 95%;
        display: block;
        margin: auto;
    }
}

.footer
{
    background-color: black;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 5vw;
    padding-right: 5vw;
}

#footer {
    margin-top: 200px;
    margin-bottom: 0px !important;
}

nav.navbar.navbar-dark.bg-dark {
    background-color: rgba(0, 0, 0, 0.8) !important;
}